repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/psf/black
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-autopep8
    hooks:
    -   id: autopep8
- repo: https://github.com/pycqa/isort
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
