[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
impacket = "*"
requests = "*"
texttable = "*"
requests_ntlm = "*"

[dev-packages]

[requires]
python_version = "3.8"
